<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "UTF-8">
		<title Desafio Prático></title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		
	</head>
	<body>
		<main>
		
		<div class="alert alert-danger alert-dismissible" th:if="${mensagemErro}">
			<p th:text="${mensagemErro}" >mensagem de erro...</p>
			<button  class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		
		<div class="alert alert-info alert-dismissible" th:if="${mensagemSucesso}">
			<p th:text="${mensagemSucesso}" >mensagem de erro...</p>
			<button  class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		
		
		
		<div class=".container">
			<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex flex-row mb-3">	
				<a class="link-offset-2 link-underline link-underline-opacity-0 p-2 fs-3" href="/home">Crud Contêiner</a>
				<a class="link-offset-2 link-underline link-underline-opacity-0 p-2 fs-3" href="www.google.com">Crud Movimentações</a>
				<a class="link-offset-2 link-underline link-underline-opacity-0 p-2 fs-3" href="www.google.com">Relatórios</a>	
			</nav>	
		</div>
		
		<div class="container">
			<nav class="navbar bg-body-tertiary mb-3">
  				<div class="container-fluid">
    				<form class="d-flex" role="search" action="filtragem/numeroConteiner">
      					<input  id="input-busca" class="form-control me-2" type="search" placeholder="Pesquisa conteiner" aria-label="Search" >
   		 			</form>
   		 			<button  type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#janelamodal">Adicionar Container</button>
 				 </div>
			</nav>
				
			
			<table id="tabela-conteiners" class="table table-striped table-bordered" >
				<tr  class="table-light">
					<th>Numero Conteiner</th>
					<th>Cliente</th>
					<th>Tipo</th>
					<th>Status</th>
					<th>Categoria</th>
					<th>Ações</th>
				</tr>
				<tr  th:each="conteiner : ${conteiners}">
					<td th:text="${conteiner.numeroConteiner}">Numero conteiner</td>
					<td th:text="${conteiner.cliente}">cliente</td>
					<td>tipo</td>
					<td th:text="${conteiner.status}">status</td>
					<td  th:text="${conteiner.categoria}">categoria</td>
					<td>
						<div class="d-grid gap-2 d-md-flex justify-content-start">
  							<button data-bs-toggle="modal" data-bs-target="#janelamodal" class="btn btn-primary me-md-2 btn-sm" type="button">Alterar</button>
 							<a  th:href="@{/cadastro/excluir/{id} (id=${conteiner.numeroConteiner})}"  class="btn btn-danger btn-sm" type="button">Excluir</a>
						</div>			
					</td>	
				</tr>	
			</table>
		</div>
		
		<div id="janelamodal" class="modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1>Formulário</h1>		
					</div>			
					<div class="modal-body">
						<form th:object="${requisicaoNovoCadastro}"  action="/cadastro/novo" method="POST">
					
							<label for="nome">Nome</label>
							<input th:field= "*{conteinerNumeroConteiner}" class="form-control" placeholder="4 letras e 7 números" name="conteinerNumeroConteiner"> <br>
							<div  class="form-control is-invalid" th:errors="*{conteinerNumeroConteiner}">
								mensagem de erro para numero conteiner
							</div>
							
							<label for="cliente">Cliente</label>
							<input th:field= "*{conteinerCliente}" class="form-control" type="text" name="conteinerCliente" id="cliente">
							<div  class="form-control is-invalid" th:errors="*{conteinerCliente}">
								mensagem de erro para cliente
							</div>
													
							<fieldset class="mt-2">
								<legend>Tipo</legend>
								<label for="tipo">20</label>
								<input type="radio" name="conteinerTipo" id="tipo20">
													
								<label for="tipo">40</label>
								<input type="radio" name="conteinerTipo" id="tipo40">
								
								<div  class="form-control is-invalid" th:errors="*{conteinerTipo}">
									mensagem de erro para tipo conteiner
								</div>
								
							</fieldset>
							
							<fieldset>
								<legend>Status</legend>
								<label for="status">Cheio</label>
								<input type="radio" name="conteinerStatus" id="statuscheio">
								<label for="status">Vazio</label>
								<input type="radio" name="conteinerStatus" id="statusvazio">
								
								<div  class="form-control is-invalid" th:errors="*{conteinerStatus}">
									mensagem de erro para Status
								</div>
								
							</fieldset>
							
							<fieldset>
								<legend>Categoria</legend>
								<label for="categoria">Importação</label>
								<input type="radio" name="conteinerCategoria" id="categoriaimportacao">
								<label for="status">Exportação</label>
								<input type="radio" name="conteinerCategoria" id="categoriaexportacao">
								
								<div  class="form-control is-invalid" th:errors="*{conteinerCategoria}">
									mensagem de erro para Categoria
								</div>
								
							</fieldset>					
							<div  class="d-flex justify-content-between">
								<input class="btn btn-primary mt-3"  type="submit" value="Cadastrar">
								<a  class="btn btn-danger mt-3" href="/home">Fechar</a>
							</div>
						</form>					
					</div>
					<div class="modal-footer">	
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		</main>
		<script src="js/main.js"></script>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	</body>





</html>